<div class="block"></div>
<div class="columns is-centered block">
  <div class="column is-one-third">
    <div class="tile is-ancestor is-vertical notification is-success">
      <div class="tile is-child">
        <p class="title">New Ingredient</p>
      </div>
      <div class="tile is-child">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>