  <ol>
  <% @posts.each do |post| %>
    <article class="media">
      <div class="media-left content">
        <li></li>
      </div>
      <div class="media-content">
        <%= link_to post.title, post, class: "has-text-weight-semibold has-text-link" %><br>
        <small><%= post.user.name %></small>
      </div>
      <div class="media-right">
        <small class="is-size-7">Created at - <%= post.created_at.strftime("%b %e, %l:%M %p") %></small>
      </div>
    </article>
  <% end %>
  </ol>