<%= render partial: '/partials/title', locals: {text: @text} %>
<div class="block"></div>
<%= render partial: '/partials/index', locals: {collection: @posts} %>
<div class="block"></div>
<div class="block"></div>