<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <p class="navbar-item title">BreadBook 🍞</p>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <% if logged_in? %>
        <%= render partial: 'layouts/nav_logged_in' %>
      <% else %>
        <%= render partial: 'layouts/nav_logged_out' %>
      <% end %>
    </div>
  </div>
</nav>